.app__wrapper {
    display: grid;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #DFF6FF;
    min-height: 100vh;
    grid-template-areas: 
        "h"
        "m"
        "f"
    ;
    grid-template-rows: 100px 8fr 75px;
    header {
        grid-area: "h";
    };
    main {
        grid-area: "m";
    };
    footer {
        grid-area: "f";
    };
}